b

  .form-div {
    
    max-width: 800px;
    background-color: rgb(224, 245, 255);
  }

  .form-div div.form-group {
    margin-bottom: 15px;
    margin-right: 10px;
    margin-top: 15px;
    margin-left: 10px;
    
  }